@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: #eaeaea;
  font-family: "Poppins", sans-serif;
  color: #2d2d2d;
  font-size: 14px;
}

/* Awal navbar */
@media screen and (min-width: 994px) {
  .form-control {
    width: 550px;
  }
}

@media screen and (max-width: 994px) {
  .navbar-nav {
    text-align: center;
  }
}
/* Akhir navbar */

/* Gambar Produk */
.row-produk {
  background-color: #ffff;
  margin: 0;
  padding: 5px;
  padding-top: 16px;
}
/* Akhir Gambar Produk */

/* Awal garis nama */
.garis-nama {
  border-bottom: 2px solid #2d2d2d;
  margin-top: 10px;
  margin-bottom: 25px;
}
/* Akhir garis nama */

/* Button Keranjang dan Beli*/
.btn-custom {
  padding: 15px;
  font-size: 14px;
}
/* Akhir Button Keranjang dan Beli*/

/* Deskripsi dan review Produk */
.review-img {
  width: 50px;
}

.review-name {
  font-size: 16px;
  margin-bottom: 5px;
}

.review-desc {
  font-size: 14px;
}

.deskripsi {
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
}

.deskripsi::-webkit-scrollbar {
  display: none;
}
.review {
  height: 250px;
  overflow: scroll;
  overflow-x: hidden;
}
.review::-webkit-scrollbar {
  display: none;
}

/*Akhir Deskripsi dan review Produk */
